In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
    #we have to load the data set
    data=sns.load_dataset('titanic')
    #data

In [ ]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#check the number of null values in null values
data.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [ ]:
#now we have see that deck has a maximum null values so drop it
data=data.drop('deck',axis=1)
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [ ]:
#impute missing value with mean
data['age']=data['age'].fillna(data['age'].mean())


#also we can do it through median
#data['age']=data['age'].fillna(data['age'].median())


#also to impute missing value with mode
data['embark_town']=data['embark_town'].fillna(data['embark_town'].mode()[0])
data['embarked']=data['embarked'].fillna(data['embarked'].mode()[0])

In [ ]:
#again check the missing value
data.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

# now we apply k-nearst neighbors(knn)
Ml algorithm that can be used to impute missing values it works that to find most similar data points to the one missing values based on other avilable feauters

In [ ]:
#load data set
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#check misisng vlaues
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [ ]:
#impute missing value by KNN
from sklearn.impute import KNNImputer
#cal the knn class with the nummber of neighbour=4
imputer=KNNImputer(n_neighbors=4)

#impute missing value with the knn imputer
df['age']=imputer.fit_transform(df[['age']])

In [ ]:
df.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

##Iterativeimputer
Now we have to impute the missing values through iterativeimputer
which is the most and my favorite method

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
columns_to_encode=['sex','embarked','class','who','adult_male','alive','alone']

#dictonary to store the label
label_encoders={}

for column in columns_to_encode:
    label_encoder=LabelEncoder()
    df[column]=label_encoder.fit_transform(df[column])
    label_encoders[column]=label_encoder

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,NaN,Southampton,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,C,Cherbourg,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,NaN,Southampton,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,C,Southampton,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,NaN,Southampton,0,1

we can do to it one by one

In [ ]:
#encode the data using label encoding
from sklearn.preprocessing import LabelEncoder
#columns to encode
#columns_to_encode=['sex','embarked','class','who','adult_male','alive','alone']
#encoder=LabelEncoder()
#df['sex']=encoder.fit_transform(df['sex'])
#df['embarked']=encoder.fit_transform(df['embarked'])
#df['class']=encoder.fit_transform(df['class'])
#df['who']=encoder.fit_transform(df['who'])
#df['adult_male']=encoder.fit_transform(df['adult_male'])
#df['alive']=encoder.fit_transform(df['alive'])
#df['alone']=encoder.fit_transform(df['alone'])

In [ ]:
#impute the msising value with IterativeImputer
imputer=IterativeImputer(max_iter=10,random_state=42)
#impute missing value using iterative imputer in a for loop

# Only include numerical columns for imputation
columns_to_impute=['age', 'embarked'] # Removed 'deck' and 'embark_town'

for column in columns_to_impute:
    df[column]=imputer.fit_transform(df[[column]])

# Handle categorical features separately, e.g., using SimpleImputer with strategy='most_frequent'
from sklearn.impute import SimpleImputer

cat_imputer = SimpleImputer(strategy='most_frequent')
df[['deck', 'embark_town']] = cat_imputer.fit_transform(df[['deck', 'embark_town']])

In [ ]:
df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2.0,2,1,1,C,Southampton,0,0
1,1,1,0,38.0,1,0,71.2833,0.0,0,2,0,C,Cherbourg,1,0
2,1,3,0,26.0,0,0,7.9250,2.0,2,2,0,C,Southampton,1,1
3,1,1,0,35.0,1,0,53.1000,2.0,0,2,0,C,Southampton,1,0
4,0,3,1,35.0,0,0,8.0500,2.0,2,1,1,C,Southampton,0,1

Now we have to inverse transform after that removing a mising values that to know about the data

In [ ]:
from operator import le
#inverse transform for encoded columns
for column in columns_to_encode:

    label_encoder=label_encoders[column]

    df[column]=le.inverse_transform(df[column].astype(int))

##Regression imputation
Regression imputation use the regression model to predict the missing values based on other values in dataset
Work for categorical and numerical data

In [ ]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#missing values
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

#Random Froest for imputing missing values

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error,mean_absolute_percentage_error,mean_squared_log_error,explained_variance_score
from sklearn.impute import SimpleImputer

In [2]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
#remove deck colum
df=df.drop('deck',axis=1)

In [4]:
df.isnull().sum().sort_values(ascending=False)

age            177
embarked         2
embark_town      2
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [5]:
#now we have to encode it again
from sklearn.preprocessing import LabelEncoder

In [6]:
columns_to_encode=['sex','embarked','class','who','adult_male','alive','alone']

label_encoders={}

for column in columns_to_encode:
    label_encoder=LabelEncoder()
    df[column]=label_encoder.fit_transform(df[column])
    label_encoders[column]=label_encoder

#now we have to impute the missing valeus in age before to predict the values in the emabarked and emark_town columns

In [7]:
#split the data set one the missing values one without
df_with_missing=df[df['age'].isnull()]
#dropna removes all the missing values rows
df_without_missing=df.dropna(subset=['age'])

In [8]:
print('the shape of the origial data set is :',df.shape)
print('the shape of the data set without missing values is :',df_without_missing.shape)
print('the shape of the data set with missing values is :',df_with_missing.shape)

the shape of the origial data set is : (891, 14)
the shape of the data set without missing values is : (714, 14)
the shape of the data set with missing values is : (177, 14)

In [9]:
df_with_missing.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
5,0,3,1,NaN,0,0,8.4583,1,2,1,1,Queenstown,0,1
17,1,2,1,NaN,0,0,13.0000,2,1,1,1,Southampton,1,1
19,1,3,0,NaN,0,0,7.2250,0,2,2,0,Cherbourg,1,1
26,0,3,1,NaN,0,0,7.2250,0,2,1,1,Cherbourg,0,1
28,1,3,0,NaN,0,0,7.8792,1,2,2,0,Queenstown,1,1

In [10]:
df_without_missing.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,Southampton,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,Cherbourg,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,Southampton,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,Southampton,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,Southampton,0,1

In [11]:
#check the names of the colums
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [12]:
#Regression imputation
# Select only numerical features for training
numerical_features = df_without_missing.select_dtypes(include=['number']).columns
X = df_without_missing[numerical_features].drop(['age'], axis=1)
y = df_without_missing['age']
#split the data into x and y and we will take only the data which has no missing values
#X=df_without_missing.drop(['age'],axis=1)
#y=df_without_missing['age']

In [13]:
#split data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
#random forest imputation
regressor=RandomForestRegressor(n_estimators=100,random_state=42)
regressor.fit(X_train,y_train)

RandomForestRegressor(random_state=42)

In [15]:
#evaluate the model
y_pred=regressor.predict(X_test)

In [16]:
print('RMSE for random forest imputation :',np.sqrt(mean_squared_error(y_test,y_pred=y_pred)))
print('R2 score for random forest imputation :',r2_score(y_test,y_pred=y_pred))
print('MAE for random forest imputation :',mean_absolute_error(y_test,y_pred=y_pred))
print('MAPE for random forest imputation :',mean_absolute_percentage_error(y_test,y_pred=y_pred))

RMSE for random forest imputation : 11.099045080470866
R2 score for random forest imputation : 0.33556628578567915
MAE for random forest imputation : 8.687333751899574
MAPE for random forest imputation : 0.4094671010660234

In [17]:
#chceck the number of missing values in each columns
df_with_missing.isnull().sum().sort_values(ascending=False)

age            177
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

In [18]:
#predict missing valuses
y_pred=regressor.predict(df_with_missing[numerical_features].drop(['age'],axis=1))

In [19]:
#remove warning
import warnings
warnings.filterwarnings('ignore')

In [20]:
#remove the missing values with predict values
df_with_missing['age']=y_pred

In [21]:
#check the msissing values
df_with_missing.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [22]:
#we can concatenate the two data frames
df=pd.concat([df_without_missing,df_with_missing])

print("the shape of the complete data frame :",df.shape)

the shape of the complete data frame : (891, 14)

In [23]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,Southampton,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,Cherbourg,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,Southampton,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,Southampton,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,Southampton,0,1

In [24]:
for column in columns_to_encode:
    label_encoder=label_encoders[column]
    df[column]=label_encoder.inverse_transform(df[column].astype(int))

In [25]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [26]:
#check missing valus
df.isnull().sum().sort_values(ascending=False)

embarked       2
embark_town    2
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
class          0
who            0
adult_male     0
alive          0
alone          0
dtype: int64

#we have again 2 missing values we can do through mdoe
but if we want more accuracy than we will sue the above method

In [27]:
#save the data set in csv file
df.to_csv('titanic_cleaned.csv',index=False)